/* --- ANA KAPLAYICILAR --- */
.container {
  width: 454px;
  height: 454px;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.stack-container {
  width: 454px;
  height: 454px;
}

/* 1. KATMAN (EN ALT): Yeşil Zemin / Arka Plan */
.base-bg {
  position: absolute;
  width: 454px;
  height: 454px;
  left: 0px;
  top: 0px;
  z-index: 1; /* En altta duracak */
}

/* 2. KATMAN (ORTA): Uzaylılar (Swiper) */
.swiper-box {
  width: 454px;
  height: 454px;
  background-color: transparent; /* Arkadaki zemini görmek için şeffaf */
  z-index: 2; /* Zeminin üstünde, çerçevenin altında */
}

/* Her bir uzaylı sayfası */
.swiper-item {
  width: 454px;
  height: 454px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Uzaylı Resmi */
.alien-icon {
  width: 260px;
  height: 260px;
  object-fit: contain;
}

/* 3. KATMAN (ÜST): Gri Çerçeve (Maske) */
.overlay-frame {
  position: absolute;
  width: 454px;
  height: 454px;
  left: 0px;
  top: 0px;
  object-fit: contain;
  z-index: 10; /* Uzaylıların üstünde durmalı ki maskeleme yapsın */
  pointer-events: none; /* ÖNEMLİ: Dokunmayı engelleme, parmak arkadaki Swiper'a değsin */
}

/* 4. KATMAN (EN ÜST): Efektler */
.flash-layer {
  position: absolute;
  width: 454px;
  height: 454px;
  background-color: #00ff00; /* Yeşil Patlama */
  left: 0px;
  top: 0px;
  z-index: 20; /* Her şeyin üstünde */
}

.recharge-layer {
  position: absolute;
  width: 454px;
  height: 454px;
  background-color: #ff0000; /* Kırmızı Şarj */
  opacity: 0.2;
  left: 0px;
  top: 0px;
  z-index: 20;
}