/* --- ANA KONTEYNERLER --- */
.container { width: 454px; height: 454px; background-color: black; justify-content: center; align-items: center; }
.stack-container { width: 454px; height: 454px; }

/* --- ARKA PLAN --- */
.base-bg { position: absolute; width: 454px; height: 454px; left: 0px; top: 0px; }

/* --- UZAYLI --- */
.alien-icon { position: absolute; width: 260px; height: 260px; left: 97px; top: 97px; object-fit: contain; }

/* --- YEŞİL FLASH KATMANI --- */
.flash-layer {
  position: absolute;
  width: 454px;
  height: 454px;
  background-color: #00ff00; /* Tam Yeşil */
  left: 0px;
  top: 0px;
  opacity: 0; /* Başlangıçta görünmez olsun */
}

/* --- KIRMIZI ŞARJ KATMANI --- */
.recharge-layer {
  position: absolute;
  width: 454px;
  height: 454px;
  background-color: #ff0000;
  opacity: 0.2; /* Hafif kırmızı */
  left: 0px;
  top: 0px;
}