.container {
  width: 466px;
  height: 466px;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.stack-container {
  width: 466px;
  height: 466px;
}

.base-bg {
  width: 466px;
  height: 466px;
  left: 0px;
  top: 0px;
}

/* Uzaylı Kutusu */
.alien-box {
  width: 466px;
  height: 466px;
  justify-content: center;
  align-items: center;
}

.alien-icon {
  width: 160px;
  height: 240px;
  object-fit: contain;
}

.overlay-frame {
  width: 466px;
  height: 466px;
  pointer-events: none;
}

.intro-image {
  width: 466px;
  height: 466px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 999;
  background-color: black;
}

/* GÜNCELLENEN YEŞİL EFEKT */
.green-flash {
  width: 466px;
  height: 466px;
  background-color: #00ff00; /* Fosforlu Yeşil */

/* DEĞİŞİKLİK BURADA: %100 OPAK */
  opacity: 1;

/* Ekranı tam kaplaması için pozisyon ayarları */
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100; /* Diğer her şeyin üstünde dursun */
}

.recharge-layer {
  width: 466px;
  height: 466px;
  background-color: #ff0000;
  opacity: 0.2; /* Kırmızı şarj ekranı hafif şeffaf kalabilir */
}

/* En üstte görünmez tıklama katmanı */
.click-area {
  width: 466px;
  height: 466px;
  position: absolute;
}